* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #509edd, #4144e6);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

h1 {
    color: #031d24;
    margin-bottom: 1rem;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

input {
    padding: 0.8rem;
    border: 2px solid #86e4e7;
    border-radius: 5px;
    font-size: 1rem;
    width: 40%;
}

input:focus {
    outline: none;
    border-color: #81dae0;
}

span {
    font-size: 1.5rem;
    color: #75dfe2;
}

button {
    background: #683be4;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.05);
    background: #121758;
}


h2 {
    color: #333333;
    margin-bottom: 1rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}